* {
    margin: 0;
    padding: 0
}

body {
    background-color: yellow;
}

nav {
    width: 100%;
    background-color: blue;
    height: 30px;
    z-index: 100;
    display: flex;
    align-items: center;
}

main {
    background-color: red;
}

.columns {
    display: flex;
    position: fixed;
    z-index: -100;
    width: 100vw;
    height: 100vh;

}

.columnL {
    background-color: #ab653d;
    width: 30%;
}

.columnM {
    background-color: #ddc9b4;
    width: 40%;
}

.columnR {
    background-color: #ab653d;
    width: 30%;
}